.career {
  overflow-x: hidden;
  padding-top: 80px;

  @include lg {
    padding-top: 100px;
  }

  &__content {
    padding-bottom: 40px;

    @include md {
      display: grid;
      grid-template-columns: 528px min-content;
      grid-template-rows: min-content;
      grid-template-areas:
        "title link"
        "description link";
      justify-content: space-between;
    }

    @include lg {
      grid-template-columns: 720px min-content;
      padding-bottom: 50px;
    }
  }

  &__title {
    font-weight: 1000;
    font-size: 32px;
    line-height: 1;
    text-transform: uppercase;
    color: $second;
    margin-bottom: 24px;

    @include md {
      grid-area: title;
    }

    @include lg {
      font-size: 52px;
      grid-area: title;
      margin-bottom: 40px;
    }
  }

  &__description {
    margin-bottom: 24px;

    @include md {
      grid-area: description;
      margin-bottom: 0;
    }

    @include lg {
      font-size: 20px;
    }
  }

  &__link {
    @include md {
      grid-area: link;
      align-self: start;
    }
  }

  &__slider {
    @include xl {
      overflow: visible;
    }
    
  }

  &__image-list {
  }

  &__image-item {
    height: unset;
    display: flex;
    align-items: center;

    @include md {
      &:nth-child(odd) {
        width: 34%;
      }

      &:nth-child(even) {
        width: 25%;
      }
    }

    @include xl {
      &:nth-child(odd) {
        width: 27%;
      }

      &:nth-child(even) {
        width: 20%;
      }
    }
  }

  &__image-wrapper {
  }

  &__image {
    border-radius: 16px;
  }

  &__slider-pagination {
  }
}
